body {
    background-color: "#eaf1fc";
}
h1 {
    font-size: 4rem;
    font-family: 'Comfortaa', cursive;
    background-color: #fff;
    text-align: center;
    padding: 20px 10px 20px 10px;
    margin: 30px 100px 30px 100px;
    border: 1px solid #ccc;
}
.main {
    font-size: 1.5rem;
    font-family: sans-serif;
    background-color: #fff;
    padding: 5px 10px 5px 30px;
    margin: 0px 50px 0px 50px;
    border: 1px solid #ccc;
}
nav {
    font-size: 1rem;
    font-family: sans-serif;
    background-color: #fff;
    padding: 5px 10px 5px 10px;
    margin: 30px 50px 30px 700px;
    border: 1px solid #ccc;
}
