body {
    background-color: #eee;
}
h1 {
    font-size: 4.5rem;
    font-family: 'Comfortaa', cursive;
    background-color: yellow;
    text-align: center;
    padding: 30px 50px 30px 50px;
    margin: 5px 100px 20px 100px;
    border: 1px solid black;
}
p {
    font-size: 1.5rem;
    font-family: sans-serif;
}
nav {
    width: 200px;
    font-size: 1rem;
    font-family: sans-serif;
    background-color: white;
    padding: 5px 10px 5px 10px;
    border: 1px solid black;
}
