@charset "utf-8";

@keyframes ani {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
    

body {
    animation: ani 0.5s;
    background-image: linear-gradient(150deg, rgba(247, 166, 12, 1) 10%, rgba(255, 34, 87, 1) 40%, rgba(154, 39, 238, 1) 68%, rgba(35, 102, 247, 1) 90%);
}

* {
    animation: ani 0.5s;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.square {
    font-size: 1.7vw;
    font-family: sans-serif;
    background-color: #fff;
    padding: 0.5vw;
    margin: 3vw 5vw 3vw 5vw;
    border-radius: 1vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.3);
}

.h {
    font-size: 6vw;
    font-family: 'Comfortaa', cursive;
    display: flex;
    align-items: center;
    padding: 2vw 1vw 1vw 1vw;
    margin: 3vw 10vw 3vw 10vw;
}

img {
    margin: 0vw 3vw 1vw 3.2vw;
    width: 8vw;
    height: 8vw;
}

.main {
    padding: 3vw;
}

.buttons { 
    display: flex;
    justify-content: flex-end;
    margin: 0vw;
}

a.btn1 {
    display: inline-block;
    margin: 5vw 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 8vw;
    height: 2.8vw;
    font-size: 1.2vw;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 0.1vw;
    color: #fff;
    border: 0.2vw solid #000;
    border-radius: 0.4vw;
    box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    background-color: #f8a73a;
}

a.btn2 {
    display: inline-block;
    margin: 5vw 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 8vw;
    height: 2.8vw;
    font-size: 1.2vw;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 0.1vw;
    color: #fff;
    border: 0.2vw solid #000;
    border-radius: 0.4vw;
    box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    background-color: #2da54e;
}

a.btn3 {
    display: inline-block;
    margin: 5vw 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 8vw;
    height: 2.8vw;
    font-size: 1.2vw;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 0.1vw;
    color: #fff;
    border: 0.2vw solid #000;
    border-radius: 0.4vw;
    box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    background-color: #fe0000;
}

a.btn4 {
    display: inline-block;
    margin: 5vw 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 8vw;
    height: 2.8vw;
    font-size: 1.2vw;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 0.1vw;
    color: #fff;
    border: 0.2vw solid #000;
    border-radius: 0.4vw;
    box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    background-color: #81b048;
}

a.btn1:hover {
    color: #f8a73a;
    background-color: #fff;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
}

a.btn2:hover {
    color: #2da54e;
    background-color: #fff;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
}

a.btn3:hover {
    color: #fe0000;
    background-color: #fff;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
}

a.btn4:hover {
    color: #81b048;
    background-color: #fff;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
}
