body {
    background-color: #eaf1fc;
}
.square {
    font-size: 1.5rem;
    font-family: sans-serif;
    background-color: #fff;
    padding: 30px;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
h1 {
    font-size: 4rem;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding: 20px 10px 20px 10px;
    margin: 30px 100px 30px 100px;
}
.main {
    padding: 5px 10px 5px 30px;
    margin: 0px 50px 0px 50px;
}
nav {
    font-size: 1rem;
    padding: 5px 10px 5px 10px;
    margin: 30px 50px 30px 700px;
}
