@charset "utf-8";

@keyframes ani {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
    

body {
    background-color: #eaf1fc;
}

* {
    animation: ani 0.5s;
    box-sizing: border-box;
}

.square {
    font-size: 1.8vw;
    font-family: sans-serif;
    background-color: #fff;
    padding: 0.5vw;
    margin: 3vw 5vw 3vw 5vw;
    border-radius: 1vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.3);
}

.h {
    font-size: 6vw;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding: 2vw 1vw 2vw 1vw;
    margin: 3vw 10vw 3vw 10vw;
}

svg {
    width: 8vw;
    height: 8vw;
}

.main {
    padding: 0.5vw 1vw 0.5vw 3vw;
}

.n {
    width: 25vw;
    font-size: 1.5vw;
    padding: 0.5vw 1vw 0.5vw 1vw;
}

.migiyose { 
    display: flex;
    justify-content: flex-end;
    margin: 0vw;
}

a.btn {
    margin: 5vw 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 7.5vw;
    height: 2.8vw;
    font-size: 1.2vw;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 0.1vw;
    color: #000;
    background-color: #fff;
    border: 0.2vw solid #000;
    border-radius: 0.4vw;
}
.btn::hover {
    color: #fff;
    background-color: #000;
    border: 0.2vw solid #fff;
}
