@charset "utf-8";

@keyframes ani {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
    

body {
    background-color: #eaf1fc;
}

* {
    animation: ani 0.5s;
}

.square {
    font-size: 1.5rem;
    font-family: sans-serif;
    background-color: #fff;
    padding: 5px;
    margin: 30px 50px 30px 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.h {
    font-size: 4rem;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding: 20px 10px 20px 10px;
    margin: 30px 100px 30px 100px;
}

.main {
    padding: 5px 10px 5px 30px;
}

.n {
    width: 250px;
    font-size: 1rem;
    padding: 5px 10px 5px 10px;
}

.migiyose { 
    display: flex;
    justify-content: flex-end;
    margin: 0px;
}

.btn {
    background-color: #fff;
    padding: 8px 34px
    border: 2px solid #000;
    border-radius: 4px;
}
